*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
}  

header{
	background-image: url('../images/sea.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.row{
	max-width: 1180px;
	margin: 0auto;
}
.logo{
	height: 120px;
	width: auto;
	float:5left;
	margin-top: 90px;
}
.main-nav{
	float:right;
	margin-top: 30px;
}
.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 25px;
}
.main-nav li a{
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 120%;
	font-family: arial;
}
.main-nav li a:hover{
border-bottom: 2px solid black;
}



.main-content-header{
	width: 1180px;
	position: absolute;
	/*border: 1px solid red;*/
	top: 55%;
	left:50%;
	transform: translate(-50%,-50%);
    
}
h1{
	color: white;
	font-size: 240%; 
	word-spacing: 5px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: lighter;

}
.btn{ 
	display: inline-block;
	padding: 10px,30px;
	font-weight: lighter;
	text-decoration: none;
	border-radius: 450px;
	transition: background-color 0.2s,border0.2s,color0.2s;
}
.btn-full{
	background-color: transparent;
	color: #bf55ec;
	margin-right: 15px;
	border:1px solid #bf55ec;
	font-family: cursive;
}
.btn-full:hover{
	background-color: white;
}


.btn-nav{
	background-color: transparent;
	color: #fff;
	margin-right: 15px;
	border:1px solid #fff;
	font-family:cursive;
}
.btn-nav:hover{
	background-color: #bf55ec;
}
.colorchange{
	animation: colorchangeroshni 1s infinite;

}
@keyframes  colorchangeroshni {
	0%{color: red;}
	25%{color: #bf55ec;}
	50%{color: white;}
	100%{color: #bf55ec;}

}
@media only screen and (max-width: 1180px){
	.main-content-header{
		width: 100%;
		padding: 0 2%;
	}
}
@media only screen and (max-width: 998px){
  h1{
  	font-size: 200%;
  }
}
@media only screen and (max-width: 768px){

h1{font-size: 180%;}
.main-nav{display: none;}

.mobile-icon{
	display: inline-block;
}

}



